@font-face {
    font-family: newfont;
    src: url(NeueHaasDisplayLight.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: newfont;
}

html, body{
    width: 100%;
    height: 100%;
}

#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

nav{
    padding: 2vw 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4{
    padding: 10px 20px;
    border: 1px solid #0000003c;
    border-radius: 50px;
    font-weight: 500;
    color: #000000;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    transition: all ease-in-out 0.4s;
}

#nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease-in-out 0.4s;
}

#nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a{
    z-index: 9;
    color: #000;
    text-decoration: none;
    position: relative;
}

#nav-part2 h4:hover a{
    color: #fff;
}

#center{
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2.5vw;
}

#left h3{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

#center h1{
    font-size: 8vw;
    line-height: 7vw;
    text-align: right;
}

#page1 video{
    position: relative;
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
}

#hero-shape{
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 70vh;
}

#hero-1{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #FE320A, #fe9c0a);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(25px);
}

#hero-2{
    position: absolute;
    height: 30vw;
    width: 30vw;
    background: linear-gradient(135deg, #FE320A, #fe9c0a);
    border-radius: 50%;
    filter: blur(25px);
    animation: animate2 5s alternate infinite linear;
}

#hero-3{
    position: absolute;
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#FE320A, #fe9c0a);
    border-radius: 50%;
    filter: blur(25px);
    animation: animate1 5s alternate infinite linear;
}

@keyframes animate1 {
    from{
        transform: translate(55%, -3%);
    }
    to{
        transform: translate(0%, 10%);
    }
}

@keyframes animate1 {
    from{
        transform: translate(5%, -5%);
    }
    to{
        transform: translate(-20%, 30%);
    }
}

#page2{
    min-height: 100vh;
    width: 100%;
    background: #EFEAE3;
    padding: 5vw 0;
    position: relative;
}

#moving-text{
    white-space: nowrap;
    overflow-x: auto;
}

#moving-text::-webkit-scrollbar{
    display: none;
}

.con{
    white-space: nowrap;
    display: inline-block;
    animation: move 10s linear infinite;
}

#moving-text h1{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 5vw;
    /* font-weight: 900; */
    display: inline-block;
}

#gola{
    height: 50px;
    width: 50px;
    border-radius: 50%;
   background: #FE320A;
   display: inline-block;
   margin: 0 3vw;
}

@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#page2-bottom{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.5vw;
}

#page2-bottom h1{
    font-size: 3.5vw;
    width: 50%;
    font-weight: bolder;
    line-height: 4vw;
    position: relative;
    z-index: 99;
}

#bottom-part2{
    width: 20%;
}

#bottom-part2 img{
    width: 100%;
    border-radius: 15px;
}

#bottom-part2 p{
    font-weight: 100;
    margin-top: 2vw;
    font-size: 1vw;
}

#page2 #design2{
    height: 35vw;
    width: 35vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(135deg, #f6f219, #FE320A, #fe2f05);
    top: 45%;
    left: 29%;
    filter: blur(20px);
    animation: design2 4s ease-in-out infinite alternate;
}

@keyframes design2 {
    from{
        transform: translate(-7%, 7%) skew(0);
    }
    to{
        transform: translate(7%, -7%) skew(10deg);
    }
}



#page3{
    height: 100vh;
    width: 100%;
    background: #EFEAE3;
}